#header {
	width: auto;
	height: 75px;
	background-color: #000000;
	border: #000000;
	color: #000000;
}
body {
	width: auto;
    background-color: #CCCCCC; 
    font-family: Verdana;
    margin: 0px auto;
    text-decoration: none;
    border: #000000;
}
h1 {
	color: #ffffff;
	text-align: left;
}
li {
	display: inline;
	color: #ffffff;
	float: right;
	padding: 25px;
	text-decoration: none;
}
.saw {
	width: 50%;
	float: left;
}
.phone {
	width: 25%;
	float: left;
}
.computer {
	width: 30%;
	float: left;
}
ul {
	margin: 0px auto;
	float: right;
}
#name {
	float: left;
	color: #ffffff;
	padding-left: 10px;
}
/* unvisited link */
a:link {
    color: #ffffff;
}

/* visited link */
a:visited {
    color: #3399FF;
}

/* mouse over link */
a:hover {
    color: #33CCFF;
}

/* selected link */
a:active {
    color: #ffffff;
}
a {
	text-decoration: none;
}
p {
	width: 400px;
	line-height: 35px;
	padding: 10px;	
	display: inline-block;
	text-align: left;
/*	z-index: 1;*/
}
footer {
	margin: auto none 0px;
	height: 40px;
	background-color: #336699;
  bottom:0;
  width:100%;
    position: fixed;
    color: white;
    text-align: center;
    font-size: 20pt;
}
#github {
	height: 30px;
	width: 30px;
	margin-top: 5px;
}