#header {
	width: auto;
	height: 75px;
	background-color: #000000;
	border: #000000;
	color: #000000;
}
body {
	width: auto;
    background-color: #CCCCCC; 
    font-family: Verdana;
    margin: 0px auto;
    text-decoration: none;
    border: #000000;
}
h1 {
	color: #ffffff;
	text-align: left;
	font-family: 'Permanent Marker', cursive;
	margin-top: 0px;
	margin-left: 20px;
	font-size: 40px;
	width: 500px;
	display: inline-block;
}
li {
	display: inline;
	color: #ffffff;
	float: right;
	padding: 25px;
	text-decoration: none;
}
.saw {
	width: 50%;
	float: left;
}
.phone {
	width: 25%;
	float: left;
}
.computer {
	width: 30%;
	float: left;
}
ul {
	margin: 0px auto;
	float: right;

}
.nav {
	width: 100%;
}
#name {
	float: left;
	color: #ffffff;
	padding-left: 10px;
}
/* unvisited link */
a:link {
    color: #ffffff;
}

/* visited link */
a:visited {
    color: #3399FF;
}

/* mouse over link */
a:hover {
    color: #33CCFF;
}

/* selected link */
a:active {
    color: #ffffff;
}
a {
	text-decoration: none;
	margin: 0px;
}
/*p {
	width: 400px;
	line-height: 35px;
	padding: 10px;	
	display: inline-block;
	text-align: left;
	z-index: 1;
}*/
footer {
	margin: auto none 0px;
	height: 40px;
	background-color: #336699;
  bottom:0;
  width:100%;
    position: fixed;
    color: white;
    text-align: center;
    font-size: 20pt;
}
#github {
	height: 30px;
	width: 30px;
	margin-top: 5px;
}
/*.cover {
	margin-right: auto none;
	margin-left: auto none;
	display: block;
	margin: auto;
}*/
img {
	position: absolute;
	/*margin: auto;*/
	width: 25%;
}

#gallery {
	width: 800px;
	/*position: absolute;*/
	margin: 0 auto;
	/*z-index: -1;*/
}
#phone {
width:100px;
/*margin-left: 1000px;
margin-top: 500px;*/
}
#saw {
width:600px;
/*margin-top: 100px;*/
}
#computer {
width:400px;
/*margin-top: 275px;
margin-left: 650px;*/
/*z-index: 1;*/
}
#tablet {
width:300px;
/*margin-top: 550px;
margin-left: 550px;*/
}
#sketchbook {
width:300px;
/*margin-left: 250;
margin-top: 450px;*/
}
#bulletin {
width:400px;
/*margin-left: 600px;
margin-top: 100px;*/
}
#container {
	width: 800px;
	height: 800px;
	margin: 0px;
}
div {
	display: inline-block;
}